@font-face {
    font-family: myFont;
    src: url(/fontA/NTDI.woff2);
}

* {
    border: none;
    outline: none;
    text-decoration: none !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: normal !important;
    list-style: none !important;
    font-family: myFont;
}

html::-webkit-scrollbar, #sortable-list-education::-webkit-scrollbar, #sortable-list-hemployment::-webkit-scrollbar {
    width: .3rem;
}

html::-webkit-scrollbar-track, #sortable-list-education::-webkit-scrollbar-track, #sortable-list-hemployment::-webkit-scrollbar-track {
    background: #e7eaea;
}

html::-webkit-scrollbar-thumb, #sortable-list-education::-webkit-scrollbar-thumb, #sortable-list-hemployment::-webkit-scrollbar-thumb {
    background: #5C8D89;
    border-radius: 7rem;
}

::selection {
    background: #5C8D89;
    color: #050A30;
}

html {
    scroll-behavior: smooth !important;
}

.w-10 {
    width: 10%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.whiteColor1 {
    color: #e7eaea;
}

.whiteBack1 {
    background-color: #e7eaea;
}

.greenColor1 {
    color: #A7D7C5;
}

.greenBack1 {
    background-color: #A7D7C5;
}

.greenColor2 {
    color: #183D3D;
}

.greenBack2 {
    background-color: #183D3D;
}

.box-shadoww {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.242);
}

.fs-7 {
    font-size: .9rem;
}

.fs-8 {
    font-size: .8rem;
}

.fs-9 {
    font-size: .7rem;
}

select {
    -webkit-appearance: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen And (max-width:1000px) {


    .skill-container, .favorite-container, .doing-container, .servic-container, .social-container, .project-container, .education-container, .hemployment-container, .json-container, .cvFile-container {
        flex-direction: column !important;
        gap: 2rem !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .skill-enter-information, .skill-information, .favorite-enter-information, .favorite-information, .doing-enter-information, .doing-information, .servic-enter-information, .servic-information, .social-enter-information, .social-information, .project-enter-information, .project-information, .project-change-information-recoard, .education-enter-information, .education-information, .education-change-information-recoard, .hemployment-enter-information, .hemployment-information, .hemployment-change-information-recoard, .json-enter-information,
    .json-information, .hemployment-information {
        border-right: none !important;
        padding-top: 0rem;
        margin: 0 !important;
        padding-right: 0 !important;
    }

    .skill-db-table, .favorite-db-table, .doing-db-table, .servic-db-table, .social-db-table, .project-db-table, .education-db-table, .hemployment-db-table, .json-db-table, .cvFile-db-table {
        margin: 0 !important;
        padding-right: .5rem !important;
    }


    .skill-enter-information-form, .favorite-enter-information-form, .doing-enter-information-form, .servic-enter-information-form, .social-enter-information-form, .project-enter-information-form, .project-change-information-recoard-form, .education-enter-information-form, .education-change-information-recoard-form, .hemployment-enter-information-form, .hemployment-change-information-recoard-form, .json-enter-information-form {
        padding-left: 0 !important;
    }

    .skill-btn-change span, .favorite-btn-change span, .doing-btn-change span, .servic-btn-change span, .social-btn-change span, .project-btn-change span, .json-btn-change span {
        display: none;
    }

    input, .InputBox {
         width: 100% !important;
    }

    .end-container-hemployment-sorth, .end-container-education-sorth {
        flex-direction: column !important;
        gap:1.5rem !important;
        padding:.5rem !important;
    }

    .sortable-list-hemployment-box, .sortable-list-education-box {
        padding:.5rem !important;
    }
}

@media screen And (max-width:560px) {

    input {
        font-size: .9rem !important;
    }

    span {
        font-size: .9rem !important;
    }

    .btnChange {
        margin-left: .5rem !important;
    }

    .skill-container, .favorite-container, .doing-container, .servic-container, .social-container, .project-container, .education-container, .hemployment-container, .json-container, .cvFile-container {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .favorite-text-box, .skill-text-box, .doing-text-box, .servic-text-box, .social-text-box, .project-text-box, .education-text-box, .hemployment-text-box, .json-f-box {
        width: 100% !important;
    }
}
