@section Styles{
    <link rel="stylesheet" href="/css/adminStyle.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
}

<div class="container">
    <div class="border rounded p-2">
        <div class="border d-block d-flex justify-content-between px-2 px-3 py-2 rounded align-items-baseline">
            <div>Skill</div>
            <button id="btn-form-box" class="btn btn-primary">Edit</button>
        </div>
        <div class="py-2">
            <div class="d-block">
                <ul id="box-skill-clinet">

                </ul>
                <ul class="d-flex-column box-skill d-none" id="sortable-list">
                </ul>
                
            </div>

            <div id="form-box-skill" style="display:none">
                <div class="d-flex py-3 px-2 g-3 align-items-center justify-content-between ">
                    <div class="col-auto">
                        <label class="col-form-label">Name Skills</label>
                        <input class="form-control" name="nameSkill">
                        <span class="form-text"></span>
                    </div>
                    <div class="col-auto">
                        <label class="col-form-label">Value Skills</label>
                        <select class="form-control" name="valueSkill">
                            <option value="">....</option>
                            <option value="A1">A1</option>
                            <option value="A2">A2</option>
                            <option value="A3">A3</option>
                        </select>
                        <span class="form-text"></span>
                    </div>
                    <button id="add-skill" class="col-auto btn btn-success">+</button>
                </div>
            </div>


            <div class="d-flex justify-content-end">
                <button class="btn btn-danger px-3 d-none" id="cancel-skill">cancel</button>
                <button class="btn btn-primary px-3 mx-2 d-none" id="save-skill">save</button>
            </div>

        </div>



    </div>
</div>

@section Scripts {

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/adminScript.js"></script>




}